body {
    background-image: url('../img/backupBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Lato", sans-serif;
}

.forms_tag{
    display: flex;
    justify-content: center;
}
form{

    text-align: right;
    flex: 1;
    
}
form h2{
    text-align: right;
}
form label{
    margin-bottom: 15px;
}
h1{
    text-align: right;
    margin-bottom: 30px;
}

#edit-account {
    margin-bottom: 20px
}